* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #;
}

.navbar {
	height:100px;
}

.s-one {
	padding-top: 70px;
}

.s-one img {
	width:100%;
	height: 70%;
	float: left;
	position: center;
	size: cover;
	background-repeat: no-repeat;
}

.s-three img {
	width:100%;
	height: 70%;
	float: left;
	position: center;
	size: cover;
	background-repeat: no-repeat;
}

img {
	width:100%;
	height:100%;
}
/*body div {
	border: 1px solid black;
}*/

.whitebg {
	background-color: white;
	margin-top: -30%;
	padding-top: 5%;
	padding-bottom: 10%;
}

.s-one-text {
	display: block;
	padding: 5%;
}

.logo {
	width:100%;
	overflow: hidden;
}

.featuredby .col-md-2 {
	width: 200px;
	height: 100px;
	padding: 0 .5em;
}

.medialinks .col-md-2 {
	width:100%;
	height: 100%;
	padding: 0.2em;
	margin: 0;
}

.textfiller .px-5 {
	text-align: center;
}

.myfooter {
	background-color: #AF5D63;
}


.s-two .change {
	padding: 0;
	margin:0;
}



.color-s-two {
	background-color:#F1F7EE;
}

.color-s-three {
	background-color:#FFC8B2;
}

.color-s-four {
	background-color:#E6FDFE;
}

.color-s-five {
	background-color:#F2F6D0;
}

.color-s-six {
	background-color:#D0E3CC;
}





