* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E8E8E8; 
}

body nav {
  font-family: 'Poppins', sans-serif;}
}


body h1{
  font-family: 'Poppins', sans-serif;}

body h2 {
  font-family: 'Poppins', sans-serif;
}

body h3 {
  font-family: 'Open Sans', sans-serif;
}

body h4 {
  font-family: 'Open Sans', sans-serif;
}

body h5 {
  font-family: 'Open Sans', sans-serif;
}

body h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1:hover, h2:hover {
  text-decoration:underline;
  text-decoration-color: #AF5D63;
  text-decoration-style: wavy;
  text-

}
/*=============================*/
.s-one img {
  width:100%;
  height: 70%;
  min-height:350px;
  max-height: 750px;
  max-width: 1550px;
  position: center;
  size: cover;
  background-repeat: no-repeat;
}

.whitebg {
  background-color: white;
  margin-top: -40%;
  margin-bottom: 50px;
  padding-top: 5%;
  padding-bottom: 3%;
  max-height: 400px;
}

.s-one-text {
  display: block;
  padding: 5%;
}

/*=============================*/

.s-two img {
  width:100%;
  height: 70%;
  min-height:250px;
  max-height: 750px;
  position: center;
  size: cover;
  background-repeat: no-repeat;
}
/*=============================*/

.myfooter {
  background-color: #AF5D63;
}

.footer-margin {
  margin-top: 20px;
}

.form-input {
  width:80%;
}

.form-button {
  margin-top: 10px;
  margin-bottom: 30px;
}

.medialinks {
  padding: 0.2em;
  margin: 0;
}

.medialinks i {
  font-size: 2em;
  color: white;
}
/*=============================*/
/*media querie make font smaller for phone and tablet*/

