* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #E8E8E8;
}

body nav {
	font-family: 'Poppins', sans-serif;}
}


body h1{
	font-family: 'Poppins', sans-serif;}

body h2 {
	font-family: 'Poppins', sans-serif;
}

body h3 {
	font-family: 'Open Sans', sans-serif;
}

body h4 {
	font-family: 'Open Sans', sans-serif;
}

body h5 {
	font-family: 'Open Sans', sans-serif;
}

body h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.whiteborder {
	background-color: white;
}

.color-s-two {
	background-color:#F1F7EE;
}

.color-s-three {
	background-color:#FFC8B2;
}

.color-s-four {
	background-color:#E6FDFE;
}

.color-s-five {
	background-color:#F2F6D0;
}

.color-s-six {
	background-color:#D0E3CC;
}

h1:hover, h2:hover {
	text-decoration:underline;
	text-decoration-color: #AF5D63;
	text-decoration-style: wavy;
	text-

}

/*=============================*/

#navbarSupportedContent {
  justify-content: center;
  width:100%;
  position: auto;
}

/*==============================*/

img {
	width:100%;
	height:100%;
}

.img-a {
	width:100%;
	height:100%;
	position: center;
}

.img-b {
	width: 100%;
	height:auto;
}

.whitebg {
	background-color:rgba(255,255,255,0.6);
	margin: 3rem 0;
}

.imagebg {
	background-image: url("../../assets/images/people/people-articles/people-article-4-a.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*=============================*/

.logo {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px;
}

/*=============================*/

.textfiller {
	margin-bottom: 20px;
}

/*=============================*/

.myfooter {
	background-color: #AF5D63;
}

.footer-margin {
	margin-top: 20px;
}

.form-input {
	width:80%;
}

.form-button {
	margin-top: 10px;
	margin-bottom: 30px;
}

.medialinks {
	padding: 0.2em;
	margin: 0;
}

.medialinks i {
	font-size: 2em;
	color: white;
}
/*=============================*/

@media (max-width: 1140px) {

	.s-one h2 {
		font-size: 1.5rem;
	}

	.s-one h3 {
		font-size: 1.5rem;
	}

	.s-one h4 {
		font-size: 1.2rem;
	}
}

@media (max-width: 720px) {
	.s-one h1 {
		font-size: 2rem;
	}

	.s-one h2 {
		font-size: 1.4rem;
	}

	.s-one h3 {
		font-size: 1.3rem;
	}

	.s-one h4 {
		font-size: 1rem;
	}
}



/*media querie make font smaller for phone and tablet*/

